# No artifacts
jdk-7u45-linux-x64.tar.gz
wls_121200.jar
oracle-xe-11.2.0-1.0.x86_64.rpm.zip
*.box

# Vagrant exceptions
.vagrant
vagrant-data

# Chef exception
.chef

# Ruby exceptions
.rake_test_cache
.rvmrc
.rbenv-version

# Not Emacs 
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

#  Not Emacs org-mode
.org-id-locations
*_archive

# Not SublimeText
*.sublime-workspace

#  Not TextMate
*.tmproj
*.tmproject
tmtags

#  Not Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.tar.gz
.idea/